-r requirements.txt
coverage
flake8
mock
nose
pytest
retrying
dcos-shakedown
cryptography
https://github.com/dcos/dcos-e2e/archive/2018.12.10.0.zip
https://github.com/dcos/dcos-test-utils/archive/master.zip
https://github.com/mesosphere/dcos-installer-tools/archive/master.zip
